  GNU nano 4.8                                                                      rtl.css                                                                                
/* fonts */

@font-face {
    font-family: vazir;
    font-weight: 900;
    font-display: swap;
        src: url('fonts/Vazir-Black-WOL.eot');
        src: url('fonts/Vazir-Black-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Black-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Black-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Black-WOL.ttf') format('truetype');
}

@font-face {
    font-family: vazir;
    font-weight: 700;
    font-display: swap;
        src: url('fonts/Vazir-Bold-WOL.eot');
        src: url('fonts/Vazir-Bold-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Bold-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Bold-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Bold-WOL.ttf') format('truetype');
}

@font-face {
    font-family: vazir;
    font-weight: 500;
    font-display: swap;
        src: url('fonts/Vazir-Medium-WOL.eot');
        src: url('fonts/Vazir-Medium-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Medium-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Medium-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Medium-WOL.ttf') format('truetype');
}

@font-face {
    font-family: vazir;
    font-weight: 300;
    font-display: swap;
        src: url('fonts/Vazir-Regular-WOL.eot');
        src: url('fonts/Vazir-Regular-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Regular-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Regular-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Regular-WOL.ttf') format('truetype');
}

@font-face {
    font-family: vazir;
    font-weight: 200;
    font-display: swap;
        src: url('fonts/Vazir-Light-WOL.eot');
        src: url('fonts/Vazir-Light-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Light-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Light-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Light-WOL.ttf') format('truetype');
}

@font-face {
    font-family: vazir;
    font-weight: 100;
    font-display: swap; 
        src: url('fonts/Vazir-Thin-WOL.eot');
        src: url('fonts/Vazir-Thin-WOL.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
             url('fonts/Vazir-Thin-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
             url('fonts/Vazir-Thin-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
             url('fonts/Vazir-Thin-WOL.ttf') format('truetype');
}

body.rtl, body.rtl .press-this a.wp-switch-editor {
    font-family: vazir;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
    font-family: 'vazir';
    font-weight: 900;
}

.rtl #wpadminbar * {
    font-family: 'vazir';
}

body, #tinymce {
    font-family: 'vazir';
    font-size: 13px;
    direction: rtl;
}


.notice.notice-error {
    display: none;
}

.updated {
    display: none;
}

